/*******************************************************************************
 *                                                                             *
 * Dialog Pane                                                                 *
 *                                                                             *
 ******************************************************************************/

/**Costumization of DialogPane Header**/
/*
.dialog-pane:header .header-panel {
  -fx-background-color: #d9534f;
}

.dialog-pane:header .header-panel .label{
  -fx-background-color: #d9534f;
  -fx-background-radius:10px;
  -fx-text-fill: white;
}
*/